on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1651000
    write /storecon_recursive /sys/devices/system/cpu
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy

    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu4/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu5/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu6/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu7/power_collapse/suspend_enabled 1

    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu4/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu5/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu6/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu7/power_collapse/idle_enabled 1

    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu4/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu5/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu6/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu7/standalone_power_collapse/suspend_enabled 1

    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu4/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu5/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu6/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu7/standalone_power_collapse/idle_enabled 1

    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu4/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu5/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu6/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu7/retention/idle_enabled 1

    write /sys/module/msm_thermal/core_control/enabled 0

    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor interactive

    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1651000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1651000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1651000

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1113000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 1113000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 1113000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 1113000


    # Update foreground and background cpusets
    # Reserve CPU 7 for the top app
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/background/cpus 4-6
    write /dev/cpuset/system-background/cpus 4-6
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/camera-daemon/cpus 4-7

    # Set idle GPU
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    rm /data/system/perfd/default_values

on property:dev.bootcomplete=1
    write /dev/cpuctl/cpu.notify_on_migrate 0
    setprop sys.io.scheduler bfq
